* {
    margin: 0;
    padding: 0;
}

.header {
    height: 75px;
    background-color: #222;
    display: flex;
    justify-content: center;
}

.top_menu {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 230px;
    padding-right: 240px;
}

.logo {
    align-items: center;
    padding: auto auto 20px 0;
}

.search {
    margin-left: 41px;
}

.menu {
    align-items: center;
    padding: auto 0 20px auto;
    display: flex;
    justify-content: space-between;
    width: 159px;
}

.main {
    background-color:#F1E4E6;
    height: 764px;
    display: flex;
    align-items: center;
}

.main_img {
    background: url(../../img/main_img.png), cover no-repeat;
    height: 100%;
}

.brand {
    display: flex;
    align-items: center;
    width: 390px;
    height: 92px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    border-left: 12px solid #F16D7F;
}

.h1 {
    margin: 0;
    padding-left: 12px;
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 355px;
}

.luxerious {
    padding-left: 12px;
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
}

.cards {
    margin-top: 65px;
    margin-left: 230px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
    column-gap: 30px;
}

.card {
    align-self: flex-start;
    height: 260px;
    overflow: hidden;
    justify-self: center;
    position: relative;
}

.card4 {
    grid-column: 1 / 4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    position: relative;
}

.card_text {
    position: absolute;
    top: 45%;
    left: 42%;
    /* со значениями 50% текст на фото стоит не ровно( */
}

.card_h2 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_h1 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 96px;
    grid-column: 1 / -1;
    grid-row: 1;

}

.bottom_header_text {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_par {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_cards {
    margin-top: 47px;
    margin-left: 230px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(4, auto);
    row-gap: 25px;
    column-gap: 30px;
    margin-bottom: 48px;
}

.bottom_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card2_full {
    position: relative;
}

.card2_bg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #F7E4E2;
    width: 360px;
    height: 420px;
}

.card2_image {
    position: absolute;
    top: 2%;
    left: 30%;
    /* непонятно, почему требуются именно такие значения для выравнивания */
}

.bottom_card_header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 24px;
}

.bottom_card_header_text {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_card_text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 315px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.bottom_card_price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.bottom_card_price_text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.bottom_button {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 4;
}

.bottom_button_text {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #FF6A6A;    background-color: #fff;
    width: 212px;
    height: 48px;
}

.bottom_button_link {
    text-decoration: none;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}